@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: "DynaPuff", system-ui; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffdbf7;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DynaPuff', system-ui;
  overflow: hidden;
}

.wave-bottom {
  position: absolute;
  top: 50vh;
  left: 0;
  width: 100%;
  height: 50vh;
  z-index: -1;
}

.wave-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}



