@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffdbf7;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DynaPuff', system-ui;
}

.wave-wrapper {
  position: relative;
  min-height: 100vh; /* replaces fixed height */
}

.wave-bottom {
  position: relative; /* remove absolute */
  width: 100%;
  height: auto;
  z-index: -1;
}


.scribble-font {
  font-family: 'Reenie Beanie', cursive;
}

.typewriter {
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 2s steps(20, end) forwards;
}

@keyframes typing {
  to {
    width: 100%;
  }
}


